.pagination {
  display: flex;
  align-items: center;
}

.btn {
  border: 1.5px solid lightgrey;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  padding: 5px 10px;
}

.btn i {
  color: grey;
}

.highlight {
  color: black;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer span {
  padding: 2px;
}
